# Rust
/target/
**/*.rs.bk
Cargo.lock.bak

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
.pytest_cache/
.ruff_cache/
*.egg-info/
dist/
build/
wheels/

# maturin
.maturin/

# farol
.farol/
/site/
# nested demo/test projects inside the repo
/**/.farol/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
